* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}


body {
  width: 100%;
  display: inline-block;
  background-color: rgb(250, 233, 212);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.menu {
  position: fixed;
  width: 150px;
  height: 100%;
  padding-right: 20px;
  padding-top: 9px;
  background-color: rgba(253, 211, 160, 0.425);
}

.menu button {
  width: 100%;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  font: menu;
  font-size: 15px;
  cursor: unset;
  border: 2px solid rgba(0, 0, 0, 0);
}

.menuimg {
  width: 120px;
  margin: 10px;
}

.menu button:hover {
  border: 2px solid rgba(214, 163, 163, 0.575);
}

.content {
  display: inline-block;
  padding-left: 28%;
  padding-right: 10px;
  margin: 3% 5%;
}

.table {
  width: 850px;
  border: 1px solid black;

}

.title {
  font-weight: 900;
  padding: 10px;
}

.td1,
.td2 {
  display: inline-block;
  padding: 10px;
}

.td1 {
  width: 400px;
  border-right: 1px solid black;
  font-weight: 700;
}

.tr,
.title {
  border: 1px solid black;
}

.delitel {
  width: 100%;
  margin: 30px 0;
}

span.delitel {
  display: block;
  text-align: center;
}

.yandex {
  width: 850px;
  margin: 0 auto;
}

.yandex img {
  width: 850px;
  height: 450px;
}

.text {
  margin-left: 9%;
  text-align: center;
}

.text p {
  font-size: large;
  margin-top: 2%;
  margin-right: 2%;
}

.recomend img {
  width: 60px;
  height: 50px;
}

.recomend {
  width: 200px;
  height: 200;
  margin: 30px;
  text-align: center;
}